# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=a57e3e67-f354-45c2-b435-88fe7527e4b0

    # Set to true to disable all reporting
    B:opt-out=false
}


